<div>
    <h2 id="page-heading">
        <span jhiTranslate="myApp.townzCusotmerNotification.home.title">Cusotmer Notifications</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cusotmer-notification" [routerLink]="['/cusotmer-notification/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="myApp.townzCusotmerNotification.home.createLabel">
            Create a new Cusotmer Notification
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="cusotmerNotifications?.length === 0">
        <span jhiTranslate="myApp.townzCusotmerNotification.home.notFound">No cusotmerNotifications found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="cusotmerNotifications && cusotmerNotifications.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="myApp.townzCusotmerNotification.alert">Alert</span></th>
                    <th scope="col" ><span jhiTranslate="myApp.townzCusotmerNotification.createdAt">Created At</span></th>
                    <th scope="col" ><span jhiTranslate="myApp.townzCusotmerNotification.updatedAt">Updated At</span></th>
                    <th scope="col" ><span jhiTranslate="myApp.townzCusotmerNotification.cusomer">Cusomer</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cusotmerNotification of cusotmerNotifications ;trackBy: trackId">
                    <td><a [routerLink]="['/cusotmer-notification', cusotmerNotification.id, 'view']">{{ cusotmerNotification.id }}</a></td>
                    <td>{{ cusotmerNotification.alert }}</td>
                    <td>{{ cusotmerNotification.createdAt | date:'medium' }}</td>
                    <td>{{ cusotmerNotification.updatedAt | date:'medium' }}</td>
                    <td>
                        <div *ngIf="cusotmerNotification.cusomer">
                            <a [routerLink]="['/customer', cusotmerNotification.cusomer?.id, 'view']" >{{ cusotmerNotification.cusomer?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/cusotmer-notification', cusotmerNotification.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/cusotmer-notification', cusotmerNotification.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(cusotmerNotification)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
