<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cusotmerNotification">
            <h2><span jhiTranslate="myApp.townzCusotmerNotification.detail.title">Cusotmer Notification</span> {{ cusotmerNotification.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="myApp.townzCusotmerNotification.alert">Alert</span></dt>
                <dd>
                    <span>{{ cusotmerNotification.alert }}</span>
                </dd>
                <dt><span jhiTranslate="myApp.townzCusotmerNotification.createdAt">Created At</span></dt>
                <dd>
                    <span>{{ cusotmerNotification.createdAt }}</span>
                </dd>
                <dt><span jhiTranslate="myApp.townzCusotmerNotification.updatedAt">Updated At</span></dt>
                <dd>
                    <span>{{ cusotmerNotification.updatedAt }}</span>
                </dd>
                <dt><span jhiTranslate="myApp.townzCusotmerNotification.cusomer">Cusomer</span></dt>
                <dd>
                    <div *ngIf="cusotmerNotification.cusomer">
                        <a [routerLink]="['/customer', cusotmerNotification.cusomer?.id, 'view']">{{ cusotmerNotification.cusomer?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cusotmer-notification', cusotmerNotification.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
