<div>
    <h2 id="page-heading">
        <span jhiTranslate="myApp.townzCityLocations.home.title">City Locations</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-city-locations" [routerLink]="['/city-locations/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="myApp.townzCityLocations.home.createLabel">
            Create a new City Locations
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="cityLocations?.length === 0">
        <span jhiTranslate="myApp.townzCityLocations.home.notFound">No cityLocations found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="cityLocations && cityLocations.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="myApp.townzCityLocations.location">Location</span></th>
                    <th scope="col" ><span jhiTranslate="myApp.townzCityLocations.city">City</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cityLocations of cityLocations ;trackBy: trackId">
                    <td><a [routerLink]="['/city-locations', cityLocations.id, 'view']">{{ cityLocations.id }}</a></td>
                    <td>{{ cityLocations.location }}</td>
                    <td>
                        <div *ngIf="cityLocations.city">
                            <a [routerLink]="['/city', cityLocations.city?.id, 'view']" >{{ cityLocations.city?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/city-locations', cityLocations.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/city-locations', cityLocations.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(cityLocations)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
