<div>
    <h2 id="page-heading">
        <span jhiTranslate="myApp.townzCustomer.home.title">Customers</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-customer" [routerLink]="['/customer/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="myApp.townzCustomer.home.createLabel">
            Create a new Customer
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="customers?.length === 0">
        <span jhiTranslate="myApp.townzCustomer.home.notFound">No customers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="customers && customers.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="myApp.townzCustomer.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="myApp.townzCustomer.token">Token</span></th>
                    <th scope="col" ><span jhiTranslate="myApp.townzCustomer.phone">Phone</span></th>
                    <th scope="col" ><span jhiTranslate="myApp.townzCustomer.sphone">Sphone</span></th>
                    <th scope="col" ><span jhiTranslate="myApp.townzCustomer.email">Email</span></th>
                    <th scope="col" ><span jhiTranslate="myApp.townzCustomer.profileimage">Profileimage</span></th>
                    <th scope="col" ><span jhiTranslate="myApp.townzCustomer.active">Active</span></th>
                    <th scope="col" ><span jhiTranslate="myApp.townzCustomer.isFirstBooking">Is First Booking</span></th>
                    <th scope="col" ><span jhiTranslate="myApp.townzCustomer.timecreated">Timecreated</span></th>
                    <th scope="col" ><span jhiTranslate="myApp.townzCustomer.referFromCustomerId">Refer From Customer Id</span></th>
                    <th scope="col" ><span jhiTranslate="myApp.townzCustomer.wallet">Wallet</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of customers ;trackBy: trackId">
                    <td><a [routerLink]="['/customer', customer.id, 'view']">{{ customer.id }}</a></td>
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.token }}</td>
                    <td>{{ customer.phone }}</td>
                    <td>{{ customer.sphone }}</td>
                    <td>{{ customer.email }}</td>
                    <td>{{ customer.profileimage }}</td>
                    <td>{{ customer.active }}</td>
                    <td>{{ customer.isFirstBooking }}</td>
                    <td>{{ customer.timecreated | date:'medium' }}</td>
                    <td>
                        <div *ngIf="customer.referFromCustomerId">
                            <a [routerLink]="['/customer-refer-code', customer.referFromCustomerId?.id, 'view']" >{{ customer.referFromCustomerId?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="customer.wallet">
                            <a [routerLink]="['/wallet', customer.wallet?.id, 'view']" >{{ customer.wallet?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/customer', customer.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/customer', customer.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(customer)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
